DB_PASSWORD=MySecr3tPassWord@as2
DB_NAME=TesloDB
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres

PORT=3000
HOST_API=http://localhost:3000/api

JWT_SECRET=Est3EsMISE3Dsecreto32s
DISCORD_CLIENT_ID=1218975053354635344
DISCORD_CLIENT_SECRET=IAQjEURA-ELwBzJJjD_Y21Zmb_yIUyRJ
DISCORD_REDIRECT_URL=http://localhost:3000/api/discord
SERVER_DISCORD_ID=1130900724499365958
FRONTEND_URL=http://localhost:5173